/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mrt-2014, 9:08:36
    Author     : mark.vanderveken
*/

/* RESET */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 
body{font-size:100%;}
ul{list-style:none;}
/* Einde RESET */
body{
    position:relative;
    font-family: Arial,Helvetica,sans-serif;
    background:whitesmoke url(../img/bg.jpg) no-repeat local center;
    background-size:110%;
    color:white;
}
.bold{
    font-weight:bold;
}
header,footer{
    background-color:grey;
    color:whitesmoke;
    text-align: center;
}

header{
    padding:0.5em;
    margin-top:1vh;
    margin-bottom:1em;
}
footer{
    //position:fixed;
    //top:90vh;
    width:97.5%;
    margin-top:1em;
    padding:1em;
}
.bar{
    width:140%;
    margin-left:-20%;
}
form{
    margin-top:2em;
    position:relative;
}
form *{
    width:33%;
    border:none;
}
form input[type=submit]{
    width:32.9%;
    //margin-left:1px;
}
button,form input[type=submit] {
    width:32.9%;
   background-color: #808080;
   color:whitesmoke;
   border:none;
}
.voegtoe{
    height:5em;
    margin-top:-50em;
}
table{
    width:100%;
    border-collapse: collapse;
    border:1px solid white;
}
td{
    width:100%;
    padding:10px;
}
thead td{
    background: grey;
    color:whitesmoke;
    font-weight:bold;
    text-align: justify;
}
.container{
    width:80%;
    margin-left:10%;
}
.bestelmenu{
    background-color:grey;
}
.bestelmenu *{
    float:left;
}
.bestelmenu input[type=submit]{
    margin-top:0.15em;
    height:6.2em;
}
.delete{
    width:1em;
}
td{
    background:#e6e6e6;  
    color:#666666
}
td:nth-of-type(4){
    background:grey;
}
td:nth-of-type(4) div{
    margin:0 auto;
}
.delete img{
    width:100%;
}
a{
    color:white;
    text-decoration:none;
}
.loguit{
    background:grey;
    padding:0.25em;
    border:1px outset whitesmoke;
    margin:1.5em;
}
.afronder{
    margin:0 auto;
    background:grey;
    color:white;
    border:1px outset whitesmoke;
}
.afronder button{
    width:5em;

}
table{
    margin-top:1em;
}
.centerText{
    text-align:center;
}    
