{%extends "base.twig"%}
{%block title %}
Registratie
{%endblock %}
{%block content %}

<h1>registratie</h1>
                <form action="usercontroller.php?action=registreerUser" method="POST">
            <input name="email" type="email" placeholder="email">
            <input name="naam" type="text" placeholder="naam"> 
            <input name="submit" type="submit" value="registreer"> 
        </form>
       {% if error is defined %}
            {% if error =="UserAlreadyExists"%}
        <p>Email is already registered</p>
            {% endif %}
        {% endif %}
        <a href="usercontroller.php"><button>Go back</button></a>
{%endblock %}